@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body {
    font-family: 'Protest Strike', sans-serif;
}
.container {
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex-color {
    text-align: center;
}
.hex-color h1 {
    font-size: 2rem;
    text-transform: uppercase;
    animation: changecolor 5s infinite alternate;
}
.hex-color h2 {
    margin-top: 15%;
    font-size: 2rem;
}
@keyframes changecolor {
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
}